<div id="add-form-container" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Divulgue a sua vaga!</h1>
            </div>
            <div id="form-box" class="col-md-12">
                <h2>Preencha da melhor forma:</h2>
                <form action="/jobs/add" method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="title">Título:</label>
                                <input type="text" class="form-control" id="title" name="title" required placeholder="Título da vaga">
                                <small id="titleHelp" class="form-text text-muted">O título é obrigatório*</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="company">Empresa:</label>
                                <input type="text" class="form-control" id="company" name="company" required placeholder="Empresa contratante">
                                <small id="companyHelp" class="form-text text-muted">Informe o nome da empresa*</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input type="text" class="form-control" id="email" name="email" required placeholder="E-mail para contato">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="salary">Salário:</label>
                                <input type="text" class="form-control" id="salary" name="salary" required placeholder="Salário oferecido">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Descrição:</label>
                        <textarea type="text" class="form-control" id="description" name="description" required placeholder="Descrição da vaga"></textarea>
                        <small id="descriptionHelp" class="form-text text-muted">Informe a descrição da vaga*</small>
                    </div>
                    <input type="hidden" name="new_job" value="1">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>